*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: rgb(11, 9, 49);
}

#wrap {
    display: flex;
    color: white;
}

#minus, #plus {
    margin: 10px;
    padding: 0 10px;
    font-size: 30px;
    text-align: center;
}

#number {
    margin: 10px;
    font-size: 30px;
    text-align: center;
}

#number.plus {
    color: rgb(255, 167, 167);
}

#number.minus {
    color: rgb(181, 204, 255);
}

#reset {
    margin: 10px;
    font-size: 20px;
}

